################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/OpenDBF.JSON/obj
/OpenDBF.Core/obj
/OpenDBF.Shared/obj
/OpenDBF.UnitTests/obj
/OpenDBF.XML/obj
/OpenDBF.Core/bin
/OpenDBF.UnitTests/bin
/OpenDBF.XML/bin
/OpenDBF.Shared/bin
/OpenDBF.JSON/bin
/OpenDBF.DAT/obj
